.service_section {
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 30px;
}

.service_section__headerMainIcon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
}

.service_section__header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}

.service_section__headerTitle {
  padding: 0 20px;
}

.service_section__headerLink {
  color: inherit;
  text-decoration: none;
}

.service_section__headerButton {
  display: none;
  justify-self: end;
  place-content: center;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.service_section__headerIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.service_section__headerIcon_open {
  transform: rotate(180deg);
}

.service_section__list {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}

.service_section__title,
.service_section__item {
  display: flex;
  algin-items: center;
  gap: 20px;
  padding: 15px 0;
  border-bottom: 1px solid var(--color-grey-light);
}

.service_section__title {
  justify-content: flex-start;
  color: var(--color-grey-hard);
}

.service_section__item {
  justify-content: space-between;
}

.service_section__item__sub {
  margin-left: 15px;
}

.service_section__itemLeft {
  display: flex;
  align-items: flex-start;
  font-size: 1rem;
  line-height: 1.3rem;
  gap: 15px;
  color: var(--color-grey-hard);
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.service_section__itemIcon {
  flex-shrink: 0;
}

.service_section__itemRight {
  display: flex;
  gap: 2px;
  text-wrap: nowrap;
  margin: 0;
  font-size: 1rem;
}

.service_section__list .service_section__item:last-child {
  border-bottom: 0;
}

@media (max-width: 1000px) {
  .service_section__headerMainIcon {
    width: 40px;
    height: 40px;
  }

  .service_section__headerButton {
    display: block;
    width: 40px;
    height: 40px;
    justify-content: end;
  }

  .service_section__listClose {
    display: none;
  }

  .service_section__headerTitle {
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
  }
}

@media (max-width: 729px) {
  .service_section {
    padding: 20px;
  }

  .service_section__headerMainIcon {
    width: 32px;
    height: 32px;
  }

  .service_section__headerTitle {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 0 15px;
  }

  .service_section__itemRight {
    flex-direction: column;
    gap: 0;
  }

  .service_section__itemLeft {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .service_section__headerTitle {
    font-size: 1rem !important;
  }

  .service_section__title {
    font-size: 1rem;
  }

  .service_section__itemLeft {
    font-size: 0.9rem;
  }

  .service_section__itemRight {
    font-size: 0.9rem;
  }

  .service_section__item__sub {
    margin-left: 10px;
  }
}
