.review_card {
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #D3D9E8;
    min-width: 450px;
}

.review_card__name {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 0 0 8px;
}

.review_card__rating {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0 0 16px;
}
