.welcome_section {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.welcome_section__title {
    font-weight: 600;
    font-size: 4.125em;
    line-height: 74px;
    margin-bottom: 90px;
}

.welcome_section__titleBlue {
    color: var(--color-blue);
}

.welcome_section__imageImage {
    width: 100%;
    object-fit: contain;
}

.welcome_section__buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
}

.buttons__button {
    height: 55px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    text-decoration: none;
    text-wrap: nowrap;
}

.buttons__buttonBlue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.buttons__buttonWhite {
    background-color: var(--color-white);
    color: inherit;
}

.welcome_section__rating {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    border-top: 1px solid #C8CFE4;
}

.rating__stars {
    display: flex;
    gap: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.starts__star {
    width: 20px;
    height: 20px;
}

@media (max-width: 1230px) {
    .welcome_section__title {
        font-size: 3.5em;
        line-height: 60px;
    }

    .welcome_section__buttons {
        width: max-content;
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 1000px) {
    .welcome_section__title {
        font-size: 3em;
        line-height: 52px;
    }
}

@media (max-width: 900px) {
    .welcome_section__title {
        font-size: 2.7em;
        line-height: 44px;
    }
}

@media (max-width: 800px) {
    .welcome_section {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content min-content;
        gap: 15px;
    }

    .welcome_section__buttons {
        position: absolute;
        left: 50%;
        bottom: 70px;
        transform: translateX(-50%);
    }

    .buttons__button {
        justify-content: center;
    }

    .welcome_section__title {
        text-align: center;
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.625rem;
        margin: 0;
    }

    .welcome_section__image {
        width: 100%;
    }

    .welcome_section__imageImage {
        width: 100%;
        height: 100%;
    }

    .welcome_section__rating {
        justify-content: space-between;
    }
}
