.staff {
  padding: 60px 30px;
  background-color: var(--color-white);
}

.staff__header {
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.staff__headerDescription {
  color: var(--color-grey-hard);
}

.staff__headerTitle {
  margin: 0;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 500;
}

.staff__list {
  --list-item-min-width: 400px;

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--list-item-min-width), 1fr)
  );
  margin-bottom: 30px;
}

.staff__bottom {
  display: grid;
  place-items: center;
}

.staff__button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  height: 40px;
  padding: 0 15px;
  color: var(--color-grey-hard);
  border: 1px solid var(--color-grey-hard);
  border-radius: 100px;
  text-decoration: none;
  line-height: 2.3rem;
}

@media (max-width: 1200px) {
  .staff {
    padding: 30px 0 !important;
  }

  .staff__header {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .staff__headerTitle,
  .staff__headerDescription {
    text-align: center;
  }

  .staff__headerTitle {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .staff__headerDescription {
    font-size: 0.9rem;
  }
}

@media (max-width: 805px) {
  .staff__list {
    grid-template-rows: 1fr;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: minmax(var(--list-item-min-width), 90%);
    overflow-x: scroll;
  }
}

@media (max-width: 769px) {
  .staff__list {
    --list-item-min-width: 300px;
  }
}
