.service_card {
  display: grid;
  grid-template-rows: 1fr max-content;
  align-items: center;
  gap: 5px;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.service_card__top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.service_card__icon {
  flex-shrink: 0;
  height: 61px;
}

.service_card__name {
  flex-grow: 1;
}

.service_card__link {
  color: inherit;
  text-decoration: none;
}

.service_card__bottom {
  display: flex;
  gap: 20px;
  align-items: center;
}

.service_card__price {
  flex-grow: 1;
  color: var(--color-primary);
}

.service_card__button {
  height: 36px;
  padding: 0 15px;
  border: 1px solid var(--color-grey-hard);
  color: var(--color-grey-hard);
  border-radius: 100px;
  text-decoration: none;
  line-height: 2.5rem;
}

@media (max-width: 805px) {
  .service_card__icon {
    height: 45px;
  }

  .service_card__name {
    font-size: 0.9rem;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .service_card__button {
    height: 30px;
    font-size: 0.9rem;
    line-height: 2rem;
  }
}
