.aboutSection {
  background-color: var(--color-white) !important;
}

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.about__title {
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 30px !important;
}

.about__content {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 24px;
  color: var(--color-grey-hard);
}

.about__imageWrapper {
  position: relative;
  width: 100%;
  height: fit-content;
}

.about__image {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.about__button {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  padding: 10px 20px 10px 10px;
  border-radius: 50px;
  text-wrap: nowrap;
}

.about__buttonIcon {
  width: 32px;
  height: 32px;
  animation: pulse 1.5s infinite;
}

.infoSection {
  padding: 15px !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.infoSection > :nth-child(3):last-child {
  grid-column: span 2;
}

.infoSection > :only-child {
  grid-column: span 2;
}

.infoSection__title {
  font-size: 24px !important;
  margin-bottom: 15px !important;
}

.infoSection__item {
  color: var(--color-grey-hard);
}

@media (max-width: 1200px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about__image {
    width: 100%;
  }

  .about__title {
    font-size: 27px !important;
    line-height: 34px !important;
    word-break: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .infoSection {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .infoSection > * {
    grid-column: 1;
  }
}
