.service_card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: var(--color-white);
}

.service_card__top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.service_card__icon {
    height: 61px;
}

.service_card__name {
    flex-grow: 1;
}

.service_card__bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}

.service_card__price {
    flex-grow: 1;
    color: var(--color-blue);
}

.service_card__button {
    height: 36px;
    padding: 0 15px;
    border: 1px solid var(--color-gray-hard);
    color: var(--color-gray-hard);
    border-radius: 100px;
    text-decoration: none;
    line-height: 36px;
}
