.button {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 200px;
  width: 64px;
  height: 64px;
  background: var(--color-primary);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 40px;
  height: 40px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@media (max-width: 700px) {
  .button {
    bottom: 20px;
    right: 20px;
  }
}
