.page_title {
  margin: 0;
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 4.2rem;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.page_title_skeleton {
  width: 350px;
  height: 60px;
  overflow: hidden;
  background-color: #dddbdd;
  border-radius: 8px;
}

.page_title_skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0) 0,
    rgba(#fff, 0.2) 20%,
    rgba(#fff, 0.5) 60%,
    rgba(#fff, 0)
  );
  animation: shimmer 5s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 1230px) {
  .page_title {
    font-size: 3.5rem;
    line-height: 3.75rem;
  }
}

@media (max-width: 1000px) {
  .page_title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .page_title_skeleton {
    height: 52px;
  }
}

@media (max-width: 900px) {
  .page_title {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .page_title_skeleton {
    height: 44px;
  }
}
