.small_p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: var(--color-grey-hard);
}

@media (max-width: 768px) {
  .small_p {
    overflow-wrap: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
