.small_p {
  margin: 0;
  font-size: 15px;
  line-height: 21px;
  color: var(--color-grey-hard);
}

@media (max-width: 768px) {
  .small_p {
    word-break: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
