.fields {
  padding: 60px 30px;
  background-color: var(--color-white);
}

.fields__header {
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.fields__headerDescription {
  color: var(--color-grey-hard);
}

.fields__headerTitle {
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
}

.fields__body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.fields__list {
  overflow: hidden;
  border-radius: 15px;
}

.list__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  border-radius: 15px;
}

@media (max-width: 1430px) {
  .fields__list {
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .fields {
    padding: 30px 0 !important;
  }

  .fields__header {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .fields__headerTitle,
  .fields__headerDescription {
    text-align: center;
  }

  .fields__headerTitle {
    font-size: 3.2rem;
  }

  .fields__headerDescription {
    font-size: 0.9rem;
  }
}

@media (max-width: 805px) {
  .list__content {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    overflow-x: scroll;
  }
}
