.rich-text * {
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: var(--color-grey-hard);
}

.rich-text p {
  margin: 8px 0;
}

.rich-text ul {
  margin: 8px 0;
}

.rich-text ol {
  margin: 8px 0;
}

.rich-text a {
  color: var(--color-primary);
}

.rich-text blockquote {
  margin: 8px 0;
  border-left: 3px solid var(--color-grey-hard);
  padding: 4px 0 4px 15px;
}

.rich-text hr {
  margin: 8px 0;
}

.rich-text strong {
  font-weight: 600;
}

.rich-text h1 {
  margin: 16px 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-black);
}

.rich-text h2 {
  margin: 8px 0;
  font-weight: 500;
  color: var(--color-black);
}

.rich-text h3 {
  margin: 8px 0;
  font-weight: 500;
  color: var(--color-black);
}

.rich-text h4 {
  margin: 8px 0;
  font-weight: 500;
  color: var(--color-black);
}

.rich-text h5 {
  margin: 8px 0;
  font-weight: 500;
  color: var(--color-black);
}

.rich-text h6 {
  margin: 8px 0;
  font-weight: 500;
  color: var(--color-black);
}
