.large_p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .large_p {
    word-break: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
