.doctor__about {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 30px;
  background-color: var(--color-white) !important;
}

.about__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__title {
  font-size: 1.7em;
  line-height: 32px;
}

.about__imageWrapper {
  position: relative;
}

.about__image {
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}

.about__button {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  padding: 10px 20px 10px 10px;
  border-radius: 50px;
  text-wrap: nowrap;
}

.about__buttonIcon {
  width: 32px;
  height: 32px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.about__section {
  width: 100%;
}

.section__title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px !important;
  color: var(--color-grey-hard);
}

.section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0 0 0 35px;
  list-style: none;
}

.section__text {
  padding-left: 35px;
  white-space: pre-wrap;
  line-height: 1.5em;
}

.about__section_detailed {
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #d3d9e8;
}

.section_detailed__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.list__icon {
  flex-shrink: 0;
}

.doctor__work_with {
}

.work_with__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.specialities_item {
  color: var(--color-grey-hard);
}

@media (max-width: 1000px) {
  .doctor__about {
    grid-template-columns: 1fr;
  }

  .about__image {
    width: 100%;
  }

  .about__title {
    font-size: 1.7em !important;
    line-height: 34px !important;
  }
}
